* {
	margin: 0;
	
}

body {
	background-color: #FFFAFA;
	margin-right: 100px;
	margin-left: 100px;
	min-width: 400px;
	max-width: 2000px;
	min-height: 400px;
	max-height: 2000px;
	z-index: 10;
	
}

.header h1 {
	font-size: 50px;
	text-align: center;
	padding: 10px;
	margin-bottom: 70px;
	background-color: white;
	border-bottom: solid;
	border-bottom-color: lightblue;
	border-radius: 50px;
	opacity: 0.7;
}

.container {
	background-image: url("mainbg2.jpg");
	
	border-radius: 50px;
}

ul {
	position: fixed;
	left: 5px;
	top: 100px;
	z-index:11;
	
	padding: 20px;
	text-align: center;
	background-color: white;
	border-bottom: solid;
	border-bottom-color: lightblue;
	border-right: solid;
	border-right-color: lightblue;
	opacity: 1;
	border-radius: 50px;
}

li {
	
	line-height: 50px;
	opacity: 1;
	font-size: 16px;
	font-weight: bold;
	color: dodgerblue;
	
}



.text {
	
	text-align: center;
	Width: auto;
	
}

.text p {
	
	padding-bottom:5px;
	border-bottom: solid;
	border-bottom-color: lightblue;
	border-radius: 50px;
	margin-top: 50px;
	margin-bottom: 60px;
	margin-left: 55px;
	margin-right: 55px;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1.4;
	
	
}

.image1 {
	display: inline;
	margin: auto;
    width: 350px;
	height: 350px;
    padding-bottom: 5px;
	padding-right: 5px;
    margin-bottom: 60px;
	margin-left: 150px;
	margin-right: 30px;
	background-color: hsla(0,0%,0%, 0.2);
	border-radius: 30px;
}

.image2 {
	display: inline;
	margin: auto;
    width: 350px;
	height: 350px;
    padding-bottom: 5px;
	padding-left: 5px;
    margin-bottom: 60px;
	margin-left: 30px;
	margin-right: 150px;
	background-color: hsla(0,0%,0%, 0.2);
	border-radius: 30px;
}


li a {
	text-decoration: none;
	color: dodgerblue;
}

li a:visited {
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none;
}
li a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
li a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a {
	text-decoration: none;
	color: dodgerblue;
}





.footer {
	padding-top:5px;
	border-top: solid;
	border-top-color: lightblue;
	border-radius: 50px;
	text-align: center;
	font-size: 40px;
	color: dodgerblue;
	
}
.footer a {
	
	/* test */
	animation-name: example;
    animation-duration: 7s;
	animation-iteration-count: 10;
	animation-delay: 0s;
	/* test */
	padding-top:5px;
	border-top: solid;
	border-top-color: lightblue;
	border-radius: 50px;
	text-align: center;
	font-size: 40px;
	color: dodgerblue;
}
/* test */
@keyframes example {
    0%   {color: black;}
    25%  {color: green;}
    50%  {color: red;}
    100% {color: blue;}
	
}
/* test */